body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px 1fr 1fr 100px;
  min-height: 100vh;
}

header {
  grid-column: 1 / span 3;
  grid-row:    1;
  background-color: gray
}

article {
  grid-column: 2;
  grid-row:    2 / span 2;
  background-color: lightgray;
}
